*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-direction: column;
    min-height: 560px;
    border: 1px solid rgb(171, 171, 171);
}

.calc > * {
    flex:  1 1 0px;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.display-content {
    font-size: 48px;
    padding: 8px 12px;
}

.buttons {
    flex-grow: 2.5;
    display: flex;
    flex-direction: column;
}

.button-row {
    flex: 1 1 0px;
    display: flex;
    text-align: center;
    border-top: 1px solid rgb(181, 181, 181);
}

.button-row > * {
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.button-row > *:not(:last-child) {
    border-right: 1px solid rgb(181, 181, 181);
}

.double-width {
    flex-grow: 2;
}

button:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}